.confirmacion {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.volver {
    display: inline-block;
    font-family: Bebas Neue;
    margin-left: 30px;
    padding: 10px 20px;
    background-color: #CFA769;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.volver:hover {
    background-color: #e0b86a;
}