.body1 {
    background-image: url(./imagenes/Fondo9.png);
}
.body2 {
    background-image: url(./imagenes/Fondo12.jpg);
}

.body3{
    background-image: url(./imagenes/Fondo6.png);
}

.body4 {
    background-image: url(./imagenes/Fondo4.jpg);
}
.body5 {
    background-image: url(./imagenes/Fondo10.jpeg);
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.listas {
    font-family: Bebas Neue;
    padding: 0px 40px 0px;
    background-color: #2C2C2C;
    border-radius: 10px;
    text-decoration: none;
    color: #CFA769;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listas2 {
    font-family: Bebas Neue;
    border-radius: 10px;
    text-decoration: none;
    list-style-type: none;
    color: #CFA769;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listas3 {
    font-family: Bebas Neue;
    display: block;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    color: #CFA769;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0px auto 0px 0px;
}

a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.error{
    text-align: center;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 800px;
    height: 500px;
    border-radius: 3px;
    border-style: solid;
    border-color: #CFA769;
}

.imagen2 {
    float: right;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 2px;
    border-style: solid;
    border-color: #CFA769;
}

.imagen3{
    float: right;
    width: 100px;
    display: block;
    margin-right: 20px;
    margin-left: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: #CFA769;
}

.imagenError{
    width: 300px;
    border-radius: 10px;
    border: 2px solid #CFA769
}