.listas {
    padding: 0px 40px 0px;
    background-color: #2C2C2C;
    border-radius: 10px;
    text-decoration: none;
    color: #CFA769;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listas2 {
    border-radius: 10px;
    text-decoration: none;
    list-style-type: none;
    color: #CFA769;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listas3 {
    display: block;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    color: #CFA769;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0px auto 0px 0px;
}

a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}


.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 800px;
    height: 500px;
    border-radius: 3px;
    border-style: solid;
    border-color: #CFA769;
}

.imagen2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 2px;
    border-style: solid;
    border-color: #CFA769;
}

.imagen3{
    float: right;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: #CFA769;
}
