
.contacto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #CFA769;
    backdrop-filter: blur(2px)
}

label {
    color: #CFA769;
    margin-top: 10px;
}

input{
    padding: 10px;
    border: 1px solid #CFA769;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
}

textarea {
    padding: 10px;
    border: 1px solid #CFA769;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border-color: gold;
}

textarea:focus {
    outline: none;
    border-color: gold;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #CFA769;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0b86a;
    }